@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Poppins:wght@500&display=swap');

body{
    background-image: url('pizza-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Poppins, sans-serif;
}

#registerform, #loginform, #logoutview{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #ebf1d5;
    box-shadow: 0px 0px 20px 2px #888888;
}

#menuitems a{
    color: coral;
    font-size: 140%;
    text-transform: uppercase;
    font-weight: 500;
}

.table tr{
    border-bottom: solid;
}

.table tr, .table th{
    text-align: center;
}